.about{
    background-color: #fff;
    position: relative;
    padding: 100px 0;
  }
  
  .img-about{
    
  }
  
  .frame{
    height: fit-content;
    width: fit-content;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
    box-shadow: rgba(58,78,95,0.2) 0 10px 16px, rgba(58,78,95,0.05) 0 -5px 16px;
    border-radius: 10px;
  }
  
  .profile{
    width: 500px;
    height: auto;
  }
  
  .text-about{
    
  }
  
  .text-about h2{
    font-weight: bold;
    position: relative;
    line-height: 45px;
  }
  
  .text-about h2::after{
    content: "";
    height: 3px;
    color: #000;
    width: 60px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
  }
  
  
  .text-about span{
    color: #f34236;
  }
  
  .social-link ul{
    display: flex;
    list-style-type: none;
    padding-left: 0;
  }
  
  .social-link ul li{
    margin-right: 5px;
    vertical-align: top;
    
  }
  .social-link ul li a{
    width: 35px;
    display: block;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #000;
    border-radius: 50%;
    margin: auto;
    color: #fff;
  }
  
  .social-link ul li:hover{
    background-color: #f34236;
    border-radius: 100%;
  }
  
  .action-about{
    display: flex;
    flex-direction: row;
  }
  
  .action-about button{
    padding: 0 40px;
    line-height: 40px;
    margin-right: 10px;
  }
  
  @media screen and (max-width: 991px){
    .action-about button{
      padding: 0 20px;
      line-height: 30px;
      margin-right: 10px;
      font-size: 14px;
    }
  }

  @media (max-width: 767px){
    .text-about{
      padding-top: 40px;
    }
  }