#service{
    background-color: #f3f3f3;
    position: relative;
    padding: 100px 0;
  }
  
  .service-content{
  
  }
  
  .title{
    text-align: center;
    padding-bottom: 60px;
  }
  
  .title h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
  }
  
  .title span{
    color: #f34236;
  }
  
  .service-box{
    text-align: center;
    background-color: #fff;
    padding: 40px 20px;
    overflow: hidden;
    box-shadow: rgba(58,78,95,0.2) 0 10px 16px, rgba(58,78,95,0.05) 0 -5px 16px;
    border-radius: 10px;
  }
  
  .service-box h4{
    font-weight: bold;
  }
  
  .service-box h4::after{
    content: "";
    height: 3px;
    color: #000;
    width: 60px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
  }
  
  .icon{
    display: inline-block;
    background-color: #f34236;
    color: #fff;
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    border-radius: 50%;
    line-height: 80px;
  }
  
  .icon i{
    font-size: 40px;
    line-height: 80px;
  }
  
  @media screen and (max-width: 575px){
    .frame-service{
      margin-bottom: 30px;
    }
  }