.header{
    background: transparent;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-around;
    z-index: 6;
    position: fixed;
    width: 100%;
                
  }
  
  .header-scroll{
    background-color: white;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-around;
    z-index: 6;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  }
  
  .header-scroll .header-logo{
    color: #f34236;
    margin-left: 10px;
  }
  
  .header-scroll .header-nav li{
    font-weight: 600;
    padding: 10px;
    margin: 0px 4px 0px 4px;
    color: black;
  }
  
  .header-logo{
    color: #fff;
    margin-left: 10px;
  }
  
  .header-toggle{
    color: #fff;
    background-color: #f34236;
    padding: 10px;
    display: none;
    font-size: 25px;
  }
  .header-title{
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
  }
  .header-logo a{
    text-decoration: none;
    color: inherit;
  }
  
  .header-nav{
    display: flex;
    list-style-type: none;
    margin: 0;
    
  }
  .header-nav li{
    font-weight: 600;
    padding: 10px;
    margin: 0px 4px 0px 4px;
    color: white;
  }
  
  .header-nav li a{
    text-decoration: none;
    color: inherit;
  }
  
   /*.header-nav li a:hover{
    color: #f34236;
  }*/
  
  .header-nav-active{
    background-color: #f34236;
    border-radius: 20px;
    color: #fff;
  }
  
  
  .header-scroll .header-nav .header-nav-active{
    background-color: #f34236;
    color: #fff;
  }
  
  
/*Responsive css*/
@media screen and (max-width: 792px){
    .header{
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 0;
      padding-top: 0;
    }
  
    .header-logo{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  
    .header-title{
      margin-left: 10px;
    }
  
    .header-toggle{
      display: block;
      padding: 0 10px 0 10px;
      margin: 10px 20px 10px 0;
    }
  
    .header-nav{
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      padding: 0;
    }
    .header-nav li{
      color: #333;
      margin: 0; 
      }
    .header-nav li a{
      text-decoration: none;
      color: inherit;
    }
    
    .header-nav-active{
      background-color: #f34236;
      border-radius: 0;
      color: white;
    }
  }